@{ ViewData["Title"] = "Личный кабинет"; }
<div class="text-center text-info">
    <h1>@ViewData["Title"]</h1>
</div>

<p>
    <b>Имя</b>: @ViewBag.User.ClientFIO<br>
    <b>Логин</b>: @ViewBag.User.Login<br>
    <b>Пароль</b>: @ViewBag.User.Password
</p>