@model string
@{
}
<form action="/Account/ChangePassUser" method="post">
    <input type="hidden" name="userLogin" value="@Model"/>
    <label>Старый пароль</label>
    <input class="form-control" name="old" type="password" placeholder="Старый пароль" />
    <label>Новый пароль</label>
    <input class="form-control" name="newPass" type="password" placeholder="Новый пароль" />
    <input class="btn-success" type="submit" value="Изменить" />
</form>