@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="card" style="width: 15rem; position: relative;">
            <div class="card-body">
                <h5 class="card-title">Вход</h5>
                <p class="card-text">Войдите в аккаунт</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Client" asp-action="Login">Вход</a>
            </div>
        </div>
    }

</div>