@{
    ViewData["Title"] = "Маршруты";
}

<div class="text-center text-info">
    <h1>Маршруты</h1>
</div>
<table class="table">
    <tr>
        <td>Маршрут</td>
        <td>Цена</td>
    </tr>
    @foreach (var route in ViewBag.routes)
    {
        <tr>
            <td>@route.RouteName</td>
            <td>@route.Cost</td>
        </tr>
    }
</table>